.about{
    .main-about{
        height: 80vh;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        column-gap:30px;
        .text{
            @include flex(center, start);
            flex-direction: column;
            h2{
                width: 70%;       
                line-height: 1.2em;
                margin: 0 0 .5em ;
            }
            h3{
                width: 85%;       
                line-height: 1.6em;
                margin: 0 0 .5em ;
            }
            p{
                width: 75%;
                line-height: 2em;
                margin: 10px 0 20px;
                color: $grey;
            }
            .btn-about{
                color:$blue;
                border:2px solid $blue;
                grid-row: 6;
            }
        }
        .images{
            grid-column: 'images';
            position: relative;
            img{
                @include border($black);
                width: 78%;
                background-color:#fff;
            }
            .bg-image{
                position: absolute;
                top: 5%;
                left: 0;
            }
            .main-image{
                position: absolute;  
                top: 20%; 
                right: 0;
            }
        }
    }
    .about-numbers{
        margin: 100px 0 200px;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        column-gap:30px;
        .number{
            h3{
                font-size: 3em;
                margin: 0 0 20px;
            }
            p{
                text-transform: capitalize;
                font-size: 1.1em;
            }
        }

    }
    .about-start{
        margin: 100px 0;
        .start-steps{
            margin: 50px 0;
            display:grid;
            grid-template-columns: repeat(3,1fr);
            column-gap:40px;
            .steps{
                height: 380px;
                @include border($black);
                position: relative;
                h3,p{
                    width: 80%;
                    margin: 0 auto;
                    margin: 30px;
                }
                h3{
                    font-size: 1.4em;
                }
                p{
                    color: $grey;
                    line-height: 2em;
                }
                .number{
                    width: 70px;
                    height:70px;
                    border: 3px solid $black;
                    border-radius: 50%;
                    font-family: 'Roboto Slab', serif;
                    font-size: 2.3em;
                    text-align: center;
                    
                    @include flex(center, center);
                    position: absolute;
                    bottom: 30px;
                    right: 30px;
                }
            }
        }
    }
    .get-started{
        margin: 100px 0;
        @include border($black);
        .container{
            background-color: $red;
            border-radius: 18px;
            padding: 50px 100px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            align-items: center;
            .title{
                grid-area: 1 / 1 / 3 / 2; 
                h4,h2{
                    color: #fff;
                }
            }
            .text{
                grid-area: 1 / 2 / 4 / 3; 
                p{
                    color: #fff;
                    line-height: 1.8em;
                }
                .btn-getStarted{
                    background-color: $blue;
                    border: 2px solid transparent;
                    color: #fff;
                    margin-top: 35px;
                }
            }
        }
    }
}